@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    html{
        font-family: "DM Sans", sans-serif;
        
    }
}

/* for Navbar */
@media screen and (max-width: 412px) {
  body{
    overflow-x: hidden;
  }
    .ham-menu{
           position: relative;
           right: 20px;
           margin-top: 5px;
        
    }
  }
@media screen and (max-width: 398px) {
    .ham-menu{
           
           right: 40px;
        
    }
  }
@media screen and (max-width: 378px) {
    .ham-menu{
           
           right: 60px;
        
    }
  }
@media screen and (max-width: 358px) {
    .ham-menu{
           
           right: 80px;
        
    }
  }
@media screen and (max-width: 338px) {
    .ham-menu{
           
           right: 100px;
        
    }
  }
@media screen and (max-width: 320px) {
    .ham-menu{
           
           right: 120px;
        
    }
  }
@media screen and (max-width: 300px) {
    .ham-menu{
           
           right: 130px;
        
    }
  }












 /* for Hero section */
 @media screen and (max-width: 412px) {
    .hero-left h1{
        font-size: 2.5rem;
        
    }
  }
 @media screen and (max-width: 342px) {
    .hero-left h1{
        font-size: 2.2rem;
        
    }
  }
 @media screen and (max-width: 309px) {
    .hero-left h1{
        font-size: 2rem;
        
    }
  }

  /* service starts here */
  @media screen and (max-width: 520px) {
    .service-container{
      width: 95%;
    }
   .secure-payment span{
    font-size: 12px;
   }
   .online-support span{
    font-size: 12px;
   }
   .shipping span{
    font-size: 12px;
   }
   .discount span{
    font-size: 12px;
   }
  }
  
  /* ProductDisplay starts */


  
  @media screen and (max-width: 465px) {
  .left-display{
    flex-direction: column;
  }
  .left-display .img{
    padding: 10px;
    margin-bottom: 55px;
    padding-right: 10px;
    width: 230px;
  }
  .right-display{
    flex-direction: column;
  }
  .right-display .img{
    padding: 10px;
    margin-bottom: 55px;
    padding-right: 10px;
    width: 230px;
  }
  }
  @media screen and (max-width: 365px) {
        .left-display p{
          font-size: 13px;
        }
        .left-display h1{
          font-size: 1.5rem;
        }
        .left-display .img{
          height: 80px;
        }
        .left-display button{
          padding: 2px 7px;
        }
        .right-display p{
          font-size: 13px;
        }
        .right-display h1{
          font-size: 1.5rem;
        }
        .right-display .img{
          height: 80px;
        }
        .right-display button{
          padding: 2px 7px;
        }
  }

  @media screen and (max-width: 317px) {
    .left-display p{
      font-size: 10px;
    }
   .left-display h1{
    font-size: 1.2rem;
    text-wrap: wrap;
   }
   .left-display button{
    font-size: 12px;
  }
  .left-display .img{
    width: 200px;
    height: 60px;
  }

  }
